<div class="container-fluid py-5">
    <div class="container py-5 text-center quick-action-wrapper">
        <a class="btn btn-primary font-weight-bold mr-5 px-2" type="button" href="#wish">
            <i class="fa fa-paper-plane pr-1"></i> Gửi lời chúc
        </a>

        <button
            class="btn btn-primary font-weight-bold px-2"
            type="button"
            data-toggle="modal"
            data-target="#mungcuoi"
        >
            <i class="fa fa-envelope pr-1"></i> Mừng cưới
        </button>
    </div>
</div>

<div
    class="modal fade"
    id="mungcuoi"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Hộp mừng cưới</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="donate-box">
                    <div class="donate-card">
                        <h5>Mừng cưới đến chú rể</h5>
                        <img class="qr-code-image" src="assets/img/bank/tuan-bank.jpg" />
                        <p>Ngân hàng: <strong>MB Bank</strong></p>
                        <p>Tên TK: <strong>Vũ Mạnh Tuấn</strong></p>
                        <p>Số tài khoản: <strong>0377560590</strong></p>
                        <!-- <p>Chi nhánh: <strong>0377560590</strong></p> -->
                    </div>
                    <div class="donate-card">
                        <h5>Mừng cưới đến cô dâu</h5>
                        <img class="qr-code-image" src="assets/img/bank/huyen-bank.jpg" />
                        <p>Ngân hàng: <strong>MB Bank</strong></p>
                        <p>Tên TK: <strong>Hoàng Thị Khánh Huyền</strong></p>
                        <p>Số tài khoản: <strong>0353578378</strong></p>
                        <!-- <p>Chi nhánh: <strong>TP.HCM</strong></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
