<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="row mx-0" id="">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 px-2">
    <a class="lg-item" data-lg-size="1600-2400" data-src="assets/img/album1/origin/1.jpg"
      data-responsive="assets/img/album1/origin/1.jpg">
      <img src="assets/img/album1/origin/1.jpg" class="w-100 shadow-1-strong " alt="Đám cưới nhà trai - Phú Thọ" />
    </a>
    <a class="lg-item" data-lg-size="1600-1067" data-src="assets/img/album1/origin/2.jpg">
      <img src="assets/img/album1/origin/2.jpg" class="w-100 shadow-1-strong mb-3" alt="Boat on Calm Water22" />
    </a>
    <a class="lg-item" data-lg-size="1600-1067" data-src="assets/img/album1/origin/2.jpg">
      <img src="assets/img/album1/origin/2.jpg" class="w-100 shadow-1-strong mb-3" alt="Boat on Calm Water22" />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0 px-2">
    <a class="lg-item" data-lg-size="1600-2398" data-src="assets/img/album1/origin/2.jpg">
      <img src="assets/img/album1/origin/2.jpg" class="w-100 shadow-1-strong mb-3" alt="Mountains in the Clouds4" />
    </a>
    <a class="lg-item" data-lg-size="1600-1065" data-src="assets/img/album1/origin/1.jpg">
      <img src="assets/img/album1/thumb/1.jpg" class=" w-100 shadow-1-strong" alt="Boat on Calm Water5" />
    </a>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0 px-2">
    <a class="lg-item" data-lg-size="1600-2398" data-src="assets/img/album1/origin/2.jpg">
      <img src="assets/img/album1/thumb/2.jpg" class="w-100 shadow-1-strong mb-3" alt="Mountains in the Clouds6" />
    </a>
    <a class="lg-item" data-lg-size="1600-1065" data-src="assets/img/album1/origin/1.jpg">
      <img src="assets/img/album1/thumb/1.jpg" class=" w-100 shadow-1-strong" alt="Boat on Calm Water7" />
    </a>
  </div>
</lightgallery>
