<a class="btn btn-lg btn-outline-primary btn-lg-circle btn-back-to-home" href="/">
    <i class="fa fa-arrow-left"></i>
</a>
<a class="btn btn-lg btn-outline-primary btn-lg-circle btn-slow-down" (click)="scrollToBottom()">
    <i class="fa fa-arrow-down"></i>
</a>

<div class="container-fluid" id="rsvp">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px">Hoà Huyền Wedding</h6>
            <h1 class="font-secondary display-4">Phú Thọ - 24/03/2024</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <lightgallery
                [settings]="settings"
                [onBeforeSlide]="onBeforeSlide"
                class="row mx-0"
                id=""
            >
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 px-2">
                    <div *ngFor="let num of numbers1; let i = index">
                        <a
                            class="lg-item d-block pt-2 pb-2"
                            data-lg-size="1600-2400"
                            [attr.data-src]="'assets/img/album1/' + (num) + '.jpg'"
                        >
                            <img
                                [src]="'assets/img/album1/' + (num) + '.jpg'"
                                class="lazyload img-fluid w-100 shadow-1-strong"
                                alt="Đám cưới nhà trai - Phú Thọ"
                            />
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0 px-2">
                    <div *ngFor="let num of numbers2; let i = index">
                        <a
                            class="lg-item d-block pt-2 pb-2"
                            data-lg-size="1600-2400"
                            [attr.data-src]="'assets/img/album1/' + (num) + '.jpg'"
                        >
                            <img
                                [src]="'assets/img/album1/' + (num) + '.jpg'"
                                class="lazyload img-fluid w-100 shadow-1-strong"
                                alt="Đám cưới nhà trai - Phú Thọ"
                            />
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0 px-2">
                    <div *ngFor="let num of numbers3; let i = index">
                        <a
                            class="lg-item d-block pt-2 pb-2"
                            data-lg-size="1600-2400"
                            [attr.data-src]="'assets/img/album1/' + (num) + '.jpg'"
                        >
                            <img
                                [src]="'assets/img/album1/' + (num) + '.jpg'"
                                class="lazyload img-fluid w-100 shadow-1-strong"
                                alt="Đám cưới nhà trai - Phú Thọ"
                            />
                        </a>
                    </div>
                </div>
            </lightgallery>
        </div>
    </div>
</div>

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- play music -->
<app-music #appMusic></app-music>