.gallery-item {
    width: 200px;
    margin: 5px;
}

.btn-back-to-home {
    position: fixed;
    display: inline;
    text-align: center;
    left: 30px;
    top: 30px;
    z-index: 11;
    opacity: 0.4;
    background-color: rgba(108, 117, 125, 0.3);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.btn-back-to-home:hover {
    opacity: 0.8;
    background-color: rgba(108, 117, 125, 0.6);
}

.btn-slow-down {
    position: fixed;
    display: inline;
    text-align: center;
    right: 30px;
    top: 30px;
    z-index: 11;
    opacity: 0.4;
    background-color: rgba(108, 117, 125, 0.3);
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.btn-slow-down:hover {
    opacity: 0.9;
    background-color: rgba(108, 117, 125, 0.8);
}
