<!-- Navbar Start -->
<app-navbar></app-navbar>
<!-- Navbar End -->

<!-- Carousel Start -->
<app-carousel></app-carousel>
<!-- Carousel End -->

<!-- Event Start -->
<app-event></app-event>
<!-- Event End -->

<!-- Guest Start -->
<app-guest *ngIf="guest" [guest]="guest"></app-guest>
<!-- Guest Start -->

<!-- About Start -->
<app-about></app-about>
<!-- About End -->

<!-- Money Start -->
<app-money></app-money>
<!-- Money End -->

<!-- Story Start -->
<app-story></app-story>
<!-- Story End -->

<!-- Wish Start -->
<app-wish></app-wish>
<!-- Wish End -->

<!-- Gallery Start -->
<app-gallery></app-gallery>
<!-- Gallery End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- play music -->
<app-music></app-music>