<div class="container-fluid py-5" id="about">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px">
                Chú rể - Cô dâu
            </h6>
            <h1 class="font-secondary display-4">Ngọc Hoà & Thanh Huyền</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row m-0 mb-4 mb-md-0 pb-2 pb-md-0">
            <div class="col-md-6 p-0 text-center text-md-right">
                <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
                    <h3 class="mb-3">Chú Rể</h3>
                    <p>Chú rể Ngọc Hoà là một lập trình viên đang công tác tại ngân hàng MB. Một người hiền lành, sống tình cảm và luôn yêu thương gia đình. </p>
                    <h3 class="font-secondary font-weight-normal text-muted mb-3">
                        <i class="fa fa-male text-primary pr-3"></i>Ngọc Hoà
                    </h3>
                    <div class="position-relative">
                        <a class="btn btn-outline-primary btn-square mr-1" href="https://www.facebook.com/tuanvm197/" target="_blank"
                            ><i class="fab fa-facebook-f"></i
                        ></a>
                        <a class="btn btn-outline-primary btn-square mr-1" href="https://zalo.me/0377560590" target="_blank">Zalo</a>
                        <a class="btn btn-outline-primary btn-square mr-1" href="https://www.facebook.com/tuanvm197/" target="_blank"
                            ><i class="fab fa-instagram"></i
                        ></a>
                        <a class="btn btn-outline-primary btn-square" href="tel:0377560590"
                            ><i class="fa fa-mobile-alt"></i
                        ></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0" style="min-height: 400px">
                <!-- <img class="position-absolute w-100 h-100" src="assets/img/about-1.jpg" style="object-fit: cover;"> -->
                <img
                    class="position-absolute w-100"
                    src="assets/img/tuanhuyen/tuan.jpg"
                />
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-6 p-0" style="min-height: 400px">
                <!-- <img class="position-absolute w-100 h-100" src="assets/img/about-2.jpg" style="object-fit: cover;"> -->
                <img
                    class="position-absolute w-100 h-100"
                    src="assets/img/tuanhuyen/huyen.jpg"
                    style="object-fit: cover"
                />
            </div>
            <div class="col-md-6 p-0 text-center text-md-left">
                <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
                    <h3 class="mb-3">Cô dâu</h3>
                    <p>Cô dâu Thanh Huyền đang làm việc tại phòng vé Minh Trang Travel. Là một người luôn vui vẻ, nhanh nhẹn và chịu khó. Luôn yêu thương chú rể Ngọc Hoà.</p>
                    <h3 class="font-secondary font-weight-normal text-muted mb-3">
                        <i class="fa fa-female text-red pr-3"></i>Thanh Huyền
                    </h3>
                    <div class="position-relative">
                        <a class="btn btn-outline-primary btn-square mr-1" href="https://www.facebook.com/khanhhuyenvemaybay" target="_blank"
                            ><i class="fab fa-facebook-f"></i
                        ></a>
                        <a class="btn btn-outline-primary btn-square mr-1" href="https://zalo.me/0353578378" target="_blank">Zalo</a>
                        <a class="btn btn-outline-primary btn-square mr-1" href="https://www.facebook.com/khanhhuyenvemaybay" target="_blank"
                            ><i class="fab fa-instagram"></i
                        ></a>
                        <a class="btn btn-outline-primary btn-square" href="tel:0353578378"
                            ><i class="fa fa-mobile-alt"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>