<div class="container-fluid">
    <div class="container pt-5 pb-3">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px">Lời ngỏ</h6>
            <h1 class="font-secondary display-4">Cảm ơn bạn đã đến</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="font-weight-bold font-size-lg text-muted mb-3 pb-3">
                    Cảm ơn tất cả những người bạn thân yêu của tôi! <br/>
                    Cảm ơn bạn đã đến đây - nơi lưu giữ những hình ảnh đẹp nhất trong cuộc đời của tôi.
                    Tôi biết bạn rất bận rộn, bận rộn với công việc, bận rộn với công việc gia đình…
                    Nhưng bạn đã có mặt hôm nay để chúc mừng tình yêu và hạnh phúc của chúng tôi. <br/>
                    Mong những điều tốt đẹp nhất sẽ đến với tất cả chúng ta ❤️ <br/>
                    Một lần nữa xin chân thành cảm ơn!
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-pink text-white py-5" id="contact" style="margin-top: 90px">
    <div class="container text-center py-5">
        <div class="section-title position-relative text-center">
            <h1 class="font-secondary display-3 text-white">Trân Trọng Cảm Ơn</h1>
            <i class="far fa-heart text-white"></i>
        </div>
        <div class="d-flex justify-content-center mb-4">
            <a
                class="btn btn-lg btn-outline-light btn-lg-square mr-2"
                href="https://www.facebook.com/"
                target="_blank"
                ><i class="fab fa-facebook-f"></i
            ></a>
            <a
                class="btn btn-lg btn-outline-light btn-lg-square mr-2"
                href="https://zalo.me/0377560590"
                target="_blank"
                >Zalo</a
            >
            <a
                class="btn btn-lg btn-outline-light btn-lg-square mr-2"
                href="https://www.facebook.com/"
                ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://www.facebook.com/"
                ><i class="fab fa-instagram"></i
            ></a>
        </div>
        <div class="d-flex justify-content-center py-2">
            <p class="text-white">manhtuanst04&#64;gmail.com</p>
            <span class="px-3">|</span>
            <p class="text-white">0377560590</p>
        </div>
        <p class="m-0">
            &copy; <a class="text-dark" href="https://www.facebook.com/">TuanHuyenWedding</a>. Thiết
            kế bởi chú rể<strong class="text-dark" href="#"> Ngọc Hoà</strong>
        </p>
        <p class="m-0">
            Hà Nội - 03/2024 - Update 27/10/2024
        </p>
    </div>
</div>

<!-- Scroll to Bottom -->

<a href="#about" class=""><i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i></a>

<!-- Back to Top -->
<button (click)="scrollToTop()" class="btn btn-lg btn-outline-primary btn-lg-square back-to-top"
    ><i class="fa fa-angle-double-up"></i
></button>
