<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h5 class="font-weight-normal text-muted mb-3 pb-3">
                    "Hãy để tình yêu diễn biến thật tự nhiên, đã là duyên thì xa đến mấy cũng chẳng sợ lạc đường"
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="story">
    <div class="container pt-5 pb-3">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px">
                Chuyện tình yêu
            </h6>
            <h1 class="font-secondary display-4">Chuyện tình yêu chúng mình</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h5 class="font-weight-normal text-muted mb-3 pb-3">
                    Mình là chú rể Ngọc Hoà, sau đây mình xin kể cho các bạn nghe về chuyện tình
                    yêu của chúng mình
                </h5>
            </div>
        </div>
        <div class="container timeline position-relative p-0">
            <div class="row">
                <div class="col-md-6 text-center text-md-right">
                    <img class="img-fluid mr-md-3" src="assets/img/tuanhuyen/story/1.jpg" alt="" />
                </div>
                <div class="col-md-6 text-center text-md-left">
                    <div
                        class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 ml-md-3"
                    >
                        <h4 class="mb-2">Lần ngặp mặt đầu tiên</h4>
                        <p class="text-uppercase mb-2">01/04/2021</p>
                        <p class="m-0">
                            Ngày hôm ấy tôi nghe có tiếng gõ cửa, hóa ra có một cô gái mới chuyển
                            tới đối diện phòng trọ của tôi. “Anh ơi cho em xin mật khẩu wifi, a cho
                            em dùng cùng, hàng tháng hết bao nhiêu em gửi a ạ” Và đó là lần chúng
                            tôi gặp mặt nhau đầu tiên, cảm giác như vừa mới hôm qua vậy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center text-md-right">
                    <div
                        class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3"
                    >
                        <h4 class="mb-2">Lần hẹn hò đầu tiên</h4>
                        <p class="text-uppercase mb-2">14/05/2022</p>
                        <p class="m-0">
                            Hai con người, hai trái tim cô đơn gặp nhau, không biết từ bao giờ từ
                            lúc nào mà tình yêu đã đến một cách hết sức tự nhiên. Và đây lần đầu
                            tiên hai đứa đi chơi là đi Tam Đảo bằng xe máy, đi xe ga luôn. Một
                            chuyến đi đáng nhớ và để lại nhiều kỷ niệm, làm cho hai người gắn kết
                            với nhau hơn rất nhiều.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-left">
                    <img class="img-fluid ml-md-3" src="assets/img/tuanhuyen/story/2.jpg" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center text-md-right">
                    <img class="img-fluid mr-md-3" src="assets/img/tuanhuyen/story/3.jpg" alt="" />
                </div>
                <div class="col-md-6 text-center text-md-left">
                    <div
                        class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 ml-md-3"
                    >
                        <h4 class="mb-2">Về ra mắt gia đình</h4>
                        <p class="text-uppercase mb-2">02/09/2023</p>
                        <p class="m-0">
                            Thoáng cái đã bên nhau được hơn 2 năm và cũng đến lúc để bước tiếp xa
                            hơn, Huyền dẫn tôi về ra mắt bố mẹ và gia đình. Thực sự rất lo lắng vì
                            sợ bố mẹ phản đối việc lấy chồng xa, nhưng xong rồi thì lại thấy thật
                            may mắn khi bố mẹ và gia đình không phản đối mà rất tôn trọng quyết định
                            của các con.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center text-md-right">
                    <div
                        class="h-100 d-flex flex-column justify-content-center bg-secondary p-4 mr-md-3"
                    >
                        <h4 class="mb-2">Tiến tới hôn nhân</h4>
                        <p class="text-uppercase mb-2">23-24/03/2024</p>
                        <p class="m-0">
                            Và thế là thành quả của tình yêu 3 năm đã đến lúc kết trái ngọt, hai đứa
                            quyết định tiến tới hôn nhân, trở thành vợ chồng, xây dựng hạnh phúc
                            trăm năm cùng nhau.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center text-md-left">
                    <img class="img-fluid ml-md-3" src="assets/img/tuanhuyen/story/4.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
