<div class="container-fluid py-5" id="wish">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6
                class="text-uppercase text-primary mb-3"
                style="letter-spacing: 3px"
            >
                Lời chúc mừng hạnh phúc
            </h6>
            <h1 class="font-secondary display-4">Gửi lời chúc</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h5 class="font-weight-normal text-muted mb-3 pb-3">
                    Trăm năm tình viên mãn -  Trọn đời nghĩa phu thê
                </h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <form [formGroup]="wishForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input
                                type="text"
                                formControlName="username"
                                id="username"
                                class="form-control bg-secondary border-0 py-4 px-3"
                                placeholder="Tên của bạn"
                            />
                            <div
                                *ngIf="
                                    username?.invalid &&
                                    (username?.dirty || username?.touched) 
                                "
                                class="text-danger"
                            >
                                <div *ngIf="username?.errors?.['required']">
                                    Chúng mình muốn biết tên của bạn 💕
                                </div>
                                <div *ngIf="username?.errors?.['minlength'] || username?.errors?.['pattern']">
                                    Tên phải có ít nhất 2 ký tự
                                </div>
                                <div *ngIf="username?.errors?.['maxlength']">
                                    Tên dài quá rồi bạn ơi
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea
                                formControlName="message"
                                id="message"
                                class="form-control bg-secondary border-0 py-2 px-3"
                                rows="5"
                                placeholder="Lời chúc"
                            ></textarea>
                            <div
                                *ngIf="
                                    message?.invalid &&
                                    (message?.dirty || message?.touched)
                                "
                                class="text-danger"
                            >
                                <div *ngIf="message?.errors?.['required']">
                                    Một lời chúc tốt đẹp là không thể thiếu 💕
                                </div>
                                <div *ngIf="message?.errors?.['minlength']">
                                    Hãy nhập lời chúc dài hơn một chút nữa nhé
                                </div>
                                <div *ngIf="username?.errors?.['maxlength']">
                                    Chỉ cần một lời chúc ngắn nhưng sẽ rất ý nghĩa
                                </div>
                            </div>
                        </div>
                        <div>
                            <button
                                class="btn btn-primary font-weight-bold py-3 px-5"
                                type="submit"
                                [disabled]="wishForm.invalid"
                            >
                                Gửi
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-lg-8 wish-list-wrap">
                <div *ngFor="let item of items; index as i">
                    <div class="wish-item">
                        {{ formatDateTime(item.createdAt) }} <br>
                        <strong> {{ item.username }} </strong>:{{ item.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="container">
        <div class="section-title position-relative text-center">
            <h1 class="font-secondary display-4">Danh sách lời chúc</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 wish-list-wrap">
                <div *ngFor="let item of items; index as i">
                    <div class="wish-item">
                        {{ items.length - i }}.
                        <strong>{{ item.username }}</strong
                        >: {{ item.message }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
