.wish-list-wrap {
    max-height: 400px;
    overflow: auto;
    border: 2px solid #e374a9;
    border-radius: 5px 
}

.wish-list-wrap .wish-item {
    margin: 20px 0;
    border-bottom: 1px solid #e374a9;
}