@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.play-music {
    position: fixed;
    display: inline;
    text-align: center;
    left: 30px;
    bottom: 30px;
    z-index: 11;
    /* animation: spin 2s infinite; */
}
